@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.animate-entry {
    animation: fadeInScale 1.2s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}